[submodule "extern/CLI11"]
	path = extern/CLI11
	url = git@github.com:CLIUtils/CLI11.git
[submodule "extern/colors.hpp"]
	path = extern/colors.hpp
	url = git@github.com:hugorplobo/colors.hpp.git
[submodule "extern/json"]
	path = extern/json
	url = git@github.com:nlohmann/json.git
